project:
  type: website
  output-dir: .
  
website:
  title: "Philippe Sloksnath"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - href: blog.qmd
        text: Blog

format:
  html:
    theme: cosmo
    toc: true

