.navbar {
  background-color: var(--bs-dark) !important;
  font-size: 15px;
  font-weight: 300;
}

.navbar a,
.navbar .navbar-brand,
.navbar .nav-link {
  color: var(--bs-light) !important;
}

.navbar a:hover,
.navbar .nav-link:hover {
  color: var(--bs-primary) !important;
}

.profile {
  width: 200px;
  border-radius: 25%;
}

aside {
  float: right;
  max-width: 40%;
  margin: 0 0 1rem 1.5rem;
}

@media (max-width: 768px) {
  aside {
    float: none;
    max-width: 100%;
    margin: 1rem 0;
  }
}